<div class="grid place-items-center bg-slate-300 h-screen" >
    <p>Bienvenido a About Me</p>
    <img id="yo" src="fotoyo.png" alt="Foto de Paco">
    <div>
        <p>Hola, soy Paco y he hecho esta página con Angular</p>
        <p>Consta de esta sección about me, muy sencillita, me da que lo que tengo</p>
        <p>que hacer es enlazar las páginas en el servicio o en el componente...</p>
        <p>en el siguiente commit.</p>
        <p>También tiene la sección del nombre donde escribimos un nombre en el "input"</p>
        <p>y al presionar enter nos saludará. Si el "input" esta vacío no nos saludará.</p>
        <p>Se le ha añadido un botón para refrescar el "input".</p>
    </div>
    


    <div class="flex gap-8">
        <a href="https://github.com/Paco16889"><img src="gatogit.png" alt="Logo de GitHub"></a>
        <a href="https://github.com/yo164"><img src="gatogit.png" alt="Logo de GitHub"></a>
        <a href="https://www.linkedin.com/in/francisco-cobo-s%C3%A1nchez-3036b1349"><img src="linkedin.png" alt="Logo de Linkedin"></a>
        <a href="https://www.instagram.com/tucoboards/#"><img src="logoinsta.png" alt="Logo de Instagram"></a>
    </div>
    <button type="submit" class="bg-gray-200 border border-gray-400 text-black px-3 py-1 rounded shadow-sm active:translate-y-px" (click)="goBack()" >
            Menú
    </button>
</div>

