<div class="grid place-items-center bg-slate-300 h-screen" >
    <div class="bg-slate-500 p-2 flex gap-2">
        <button type="submit" class="bg-gray-200 border border-gray-400 text-black px-3 py-1 rounded shadow-sm active:translate-y-px" (click)="toAboutMe()">
            About Me
        </button>
        <button type="submit" class="bg-gray-200 border border-gray-400 text-black px-3 py-1 rounded shadow-sm active:translate-y-px" (click)="toNombre()">
            Nombre
        </button>

    </div>
    
</div>
